.e-item {
    width: 24px;
    height: 24px;
    // margin-top: 8px;
}
 #editbar {
    display: inline-block;
    padding-left: 8px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    div{
    	margin:3px 8px;
        display: inline-block;
        vertical-align: middle;
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
}