.t-item {
    width: 24px;
    height: 24px;
    // margin-top: 8px;
    background: url(../common/imgs/toolbar.png) no-repeat;
}
.leaflet-control-container .leaflet-top .leaflet-control-zoom{
   margin-top: 36px;
}

.mapbar{
    display: inline-block;
    padding-left: 8px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    div {
        // padding: 0 8px;
        margin:3px 8px;
        display: inline-block;
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
}

.mapbar div{
    width:23px;
    height:23px;
}

#toolbar {
    #pan {
        background-position: -30px -277px;
    }
    #zoomtoall {
        background-position: -30px -15px;
    }
    #distance {
        background-position: -30px -40px;
    }
    #area {
        background-position: -30px -63px;
    }
    #myposition{
    	background-position: -30px -87px;
    }
    #click2find{
    	background-position: -30px -135px;
    }
    #print2img{
        background-position: -5px -87px;
    }
    #print2pdf{
        background-position: -5px -108px;
    }

}