
#heatbar{
	background: url(../common/imgs/heatmap.png) no-repeat;
}
#echarts1{
	background: url(../common/imgs/scatter.png) no-repeat;
}
#echarts2{
	background: url(../common/imgs/qianxi.png) no-repeat;
}
#divicon{
	background: url(../common/imgs/pie.png) no-repeat;
}
#dvf1{
	background: url(../common/imgs/dvf1.png) no-repeat;
}
#dvf2{
	background: url(../common/imgs/dvf2.png) no-repeat;
}



