.v-item{
	width:23px;
	height:23px;
}
#heatbar{
	background: url(../common/imgs/heatmap.png) no-repeat;
}
#echarts1{
	background: url(../common/imgs/scatter.png) no-repeat;
}
#echarts2{
	background: url(../common/imgs/qianxi.png) no-repeat;
}